:root {}

/* calendar css started from https://codepen.io/alvarotrigo/pen/xxYVrmK */

body {
  background: #fad390;
  font-family: "Spectral", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
}

.calendar {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);

  position: fixed;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.calendar__year {
  font-weight: 600;
  margin-left: 10px;
}

.calendar__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0a3d62;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition-duration: 0.2s;
  position: relative;
}

.calendar__arrow:hover {
  background: #eee;
}

.calendar__days {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  color: #999;
  font-weight: 600;
  margin-bottom: 15px;
}

.calendar__days span {
  width: 50px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__dates button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  justify-self: center;
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 2px;
  transition-duration: 0.2s;
}

.calendar__dates button.today {
  box-shadow: inset 0px 0px 0px 2px #0a3d62;
}

.calendar__dates button:first-child {
  grid-column: 1;
  /* replaced later with main.js */
}

.calendar__dates button:hover {
  background: #eee;
}

.calendar__dates button:focus {
  background: #0a3d62;
  color: #fff;
  font-weight: 600;
}